@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-Black.subset.woff2")
    format("woff2");
  font-weight: 900;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-ExtraBold.subset.woff2")
    format("woff2");
  font-weight: 800;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-Bold.subset.woff2")
    format("woff2");
  font-weight: 700;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-SemiBold.subset.woff2")
    format("woff2");
  font-weight: 600;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-Medium.subset.woff2")
    format("woff2");
  font-weight: 500;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-Regular.subset.woff2")
    format("woff2");
  font-weight: 400;
  font-display: block;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #ef4126;
  font-size: 16px;
}

.content-container {
  width: 100%;
  display: block;
  height: 100svh;
  /* display: flex;
  flex-direction: column; */
  background: radial-gradient(ellipse at top, #a80f00, transparent),
    radial-gradient(ellipse at bottom, #fde970, transparent);
  padding: 40px;
  box-sizing: border-box;
}

.header-container {
  background: #1d1d1f55;
  height: fit-content;
  /* background-image: url(/cover.webp); */
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(12px);
  /* background: linear-gradient(to bottom, #1d1d1f 20%, transparent); */
  display: flex;
}

h1 {
  font-family: Pretendard;
  font-weight: 900;
  font-size: 3rem;
  color: #ffffffdd;
  line-height: 1;
}

p {
  color: #ffffffdd;
  margin: 4px 0;
  font-weight: 600;
  text-align: right;
}

.link-container {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

button {
  width: 280px;
  height: 48px;
  padding: 12px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: #fff;
  /* border: 1px solid #ffffffaa; */
  /* box-shadow: 0px 0px 4px #ffffffdd; */
}

button:hover {
  background: #fff;
  color: #1d1d1f;
}
