@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-Black.subset.woff2")
    format("woff2");
  font-weight: 900;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-ExtraBold.subset.woff2")
    format("woff2");
  font-weight: 800;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-Bold.subset.woff2")
    format("woff2");
  font-weight: 700;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-SemiBold.subset.woff2")
    format("woff2");
  font-weight: 600;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-Medium.subset.woff2")
    format("woff2");
  font-weight: 500;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-Regular.subset.woff2")
    format("woff2");
  font-weight: 400;
  font-display: block;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #18191a;
    --text-secondary: #ffffff;
    --youtube-primary: #ff0032;
    --youtube-secondary: #000000;
    --spotify-primary: #1cb955;
    --spotify-secondary: #121212;
    --bugs-primary: #ff3b28;
    --melon-primary: #04cd3b;
    --naver-vibe-primary: #4900b0;
    --naver-vibe-secondary: #ff0050;
    --flo-primary: #5450ff;
    --apple-primary: #f9243b;
    --search-input-button: #ff5745;
    --background: #ededef;
    --link-share-background: #81919f;
    --success: #20a824;
    --error: #a82020;
    --button-default-background: #c3c6cf;
    --text-primary-rgb: 24, 25, 26;
    --youtube-primary-rgb: 255, 0, 50;
    --youtube-secondary-rgb: 0, 0, 0;
    --spotify-primary-rgb: 28, 185, 85;
    --spotify-secondary-rgb: 18, 18, 18;
    --bugs-primary-rgb: 255, 59, 40;
    --melon-primary-rgb: 4, 205, 59;
    --naver-vibe-primary-rgb: #4900b0;
    --naver-vibe-secondary-rgb: #ff0050;
    --flo-primary-rgb: 73, 0, 176;
    --apple-primary-rgb: 249, 36, 59;
    --search-input-button-rgb: 255, 87, 69;
    --background-rgb: 24, 25, 26;
    --link-share-background-rgb: 130, 145, 159;
    --success-rgb: 32, 168, 36;
    --error-rgb: 168, 32, 32;
    --button-box-shadow: #a2a2a255;
  }
  .dark {
    --text-primary: #ffffff;
    --background: #18191a;
    --button-box-shadow: #00000055;
  }
}

html,
body {
  background: var(--background);
  /* background: transparent; */
  font-size: 16px;
  position: relative;
  min-height: 100svh;
  @media screen and (max-width: 768px) {
    min-height: calc(100svh + 400px);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
}

.error-title {
  color: var(--text-primary);
}

.content-container {
  width: 100%;
  display: block;
  position: relative;
  top: 30px;
  min-height: calc(100svh + 120px);
  font-family: Pretendard;
  /* display: flex;
  flex-direction: column; */
  /* background: radial-gradient(ellipse at top, #a80f00, transparent),
    radial-gradient(ellipse at bottom, #fde970, transparent); */
  padding: 40px;
  box-sizing: border-box;
}

.search-container .content-container {
  min-height: calc(100svh + 400px);
  @media screen and (max-width: 360px) {
    padding: 20px;
  }
}

.search-container .link-container {
  @media screen and (max-width: 360px) {
    padding: 20px;
  }
}

.search-result-container .cover-bg {
  height: 360px;
  position: absolute;
}

.content-box {
  position: relative;
  top: 320px;
  @media screen and (min-width: 768px) {
    width: 480px;
    margin: 0 auto;
  }
}

.cover-box {
  width: 100%;
  position: relative;
  @media screen and (min-width: 768px) {
    width: 480px;
    margin: 0 auto;
  }
}

.cover {
  position: absolute;
  box-shadow: 0px 10px 20px #1d1d1fee;
  width: 180px;
  height: 180px;
}

.cover-bg {
  position: fixed;
  z-index: 0;
  top: 0px;
  left: 0;
  width: 100%;
  /* height: 360px; */
  height: calc(100svh + 110px);
  /* background: linear-gradient(to bottom, #a80f00, #1d1d1f); */
  /* background-image: url(/cover.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; */

  @media screen and (max-width: 360px) {
    background-position: center;
    width: 100%;
  }
}

.header-container {
  height: fit-content;
  margin: 0 auto;
  position: absolute;
  top: 200px;
  right: 0px;
  box-sizing: border-box;

  display: flex;

  @media screen and (max-width: 340px) {
    display: block;
  }
}

.header-container h1 {
  font-family: Pretendard;
  font-weight: 900;
  font-size: 3rem;
  color: var(--text-primary);
  /* color: #1f1f1d; */
  line-height: 1;
  height: fit-content;
  max-height: 150px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

p {
  color: var(--text-primary);
  margin: 4px 0;
  font-weight: 600;
  font-size: 1.1rem;
  /* color: #1f1f1d; */
  text-align: right;
}

.link-container {
  display: flex;
  /* margin-top: 420px; */
  /* position: absolute;
  top: 440px;
  left: 50%;
  transform: translateY(-50%); */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  position: relative;
  top: 120px;
}

.search-container .link-container {
  margin-top: 480px;
}

.link-container > a {
  display: block;
  width: 100%;
}

img.profile {
  width: 72px;
  height: 72px;
  border-radius: 36px;
  object-fit: cover;
  box-shadow: 2px 2px 8px var(--background);
  margin-bottom: 12px;
}

button {
  /* min-width: 240px; */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
  width: 100%;
  height: 48px;
  padding: 12px;
  box-sizing: border-box;
  background: var(--button-default-background);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: all 300ms;
  /* border: 1px solid #ffffffaa; */
  box-shadow: 2px 2px 8px var(--button-box-shadow);
}

button:hover {
  background: #fff;
  color: var(--background);
}

button.apple {
  background: var(--apple-primary);
  color: #fff;
  /* box-shadow: 2px 2px 8px rgba(var(--apple-primary-rgb), 0.5); */
}

button.youtube {
  background: #fff;
  color: var(--youtube-primary);
  /* box-shadow: 2px 2px 8px rgba(var(--youtube-primary-rgb), 0.5); */
}
button.youtube-music {
  background: #000;
  color: var(--youtube-primary);
  /* box-shadow: 2px 2px 8px rgba(var(--youtube-primary-rgb), 0.5); */
}

button.spotify {
  background: var(--spotify-primary);
  color: #fff;
  /* box-shadow: 2px 2px 8px rgba(var(--spotify-primary-rgb), 0.5); */
}

button.melon {
  background: var(--melon-primary);
  color: #fff;
  /* box-shadow: 2px 2px 8px rgba(var(--melon-primary-rgb), 0.5); */
}

button.bugs {
  background: var(--bugs-primary);
  /* color: #fff;
  box-shadow: 2px 2px 8px rgba(var(--bugs-primary-rgb), 0.5); */
}

button.apple:hover {
  color: var(--apple-primary);
  background: #fff;
}

button.youtube:hover {
  background: var(--youtube-primary);
  color: #000;
}
button.youtube-music:hover {
  color: #fff;
  background: var(--youtube-primary);
}

button.spotify:hover {
  color: var(--spotify-primary);
  background: #fff;
}

button.melon:hover {
  color: var(--melon-primary);
  background: #fff;
}

button.bugs:hover {
  color: var(--bugs-primary);
  background: #fff;
}

button.naver {
  background: var(--naver-vibe-primary);
  color: #fff;
  /* box-shadow: 2px 2px 8px rgba(var(--naver-vibe-primary-rgb), 0.5); */
}

button.naver:hover {
  background: #fff;
  color: var(--naver-vibe-primary);
}

button.flo {
  background: var(--flo-primary);
  color: #fff;
}

button.flo:hover {
  background: #fff;
  color: var(--flo-primary);
}

.button-link-name {
  width: 140px;
  text-align: center;
}

footer {
  padding: 16px 2px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0px;
  font-size: 0.75rem;
  color: #ffffff22;
  height: 110px;
  box-sizing: border-box;
  /* border: 3px solid red; */
  text-align: center;
}

footer a {
  display: inline;
  text-decoration: underline;
}

.description {
  font-size: 0.8rem;
  color: #ffffffaa;
  font-weight: 200;
  margin: 16px 0;
}

/** Index ******************************/

.index-container {
  background: var(--background);
  width: 100%;
  min-height: calc(100svh + 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.under-construction {
  width: 240px;

  @media screen and (max-width: 340px) {
    width: 140px;
  }
}

.index-container h1 {
  @media screen and (max-width: 340px) {
    font-size: 32px;
  }
}

.index-container p {
  @media screen and (max-width: 340px) {
    font-size: 14px;
    font-weight: 300;
  }
}

/** Search Container *******************************/

.search-container {
  padding: 40px;
  font-family: Pretendard;
  max-width: 800px;
  margin: 0 auto;
  /* background: var(--background); */
  padding: 0px 0px 60px 0px;
  @media screen and (max-width: 340px) {
    width: 100%;
  }
}

.search-container .search-form {
  padding: 32px;
  font-family: Pretendard;
}

.search-container input.search-input {
  width: 100%;
  height: 48px;
  border-radius: 12px;
  font-family: Pretendard;
  margin-bottom: 20px;
  padding: 12px;
}

.search-container .search-input-form-text {
  font-size: 12px;
  font-weight: 400;
  font-family: Pretendard;
  text-align: left;
}

.search-container input.search-input::placeholder {
  font-size: 14px;
  font-family: Pretendard;
}

.search-container button.search-input-button {
  background: var(--search-input-button);
  font-family: Pretendard;
  color: #fff;
  margin-top: 20px;
}
.search-container button.search-input-button:hover {
  background: #fff;
  color: var(--search-input-button);
}

.confirm-container {
  position: relative;
  top: 360px;
  height: 240px;
  width: 100%;
  z-index: 10;
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
}

.confirm-container p {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  font-family: Pretendard;
}

.search-result-container {
  position: relative;
  margin-top: 40px;
  margin-bottom: 100px;
  font-family: Pretendard;
  z-index: 10;
}

.search-result-container .search-result-share {
  background: #0009b3;
  width: 60%;
  margin: 20px auto;
  color: #fff;
  position: relative;
  z-index: 10;
  pointer-events: auto;
}

.search-result-container .search-result-share:disabled {
  cursor: not-allowed;
  background: #dddddd55;
  color: #ffffff55;
}

.search-result-container .search-result-share:disabled:hover {
  cursor: not-allowed;
  background: #dddddd55;
  color: #ffffff55;
}

.search-result-container .search-result-share:hover {
  background: #fff;
  color: #0009b3;
}

.search-result-container .content-box {
  top: 0px;
}
.loading {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:focus-visible {
  outline: none;
}

.MuiSnackbar-root {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
  padding: 20px;
}

.MuiSnackbar-root .MuiPaper-Root {
  color: #fff;
  width: 100%;
  min-width: calc(100svw - 40px);
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 4px;
  gap: 4px;
}

.snackbar-success {
  background: var(--success);
}

.snackbar-error {
  background: var(--error);
}

.MuiSnackbar-root .MuiSvgIcon-root {
  width: 20px !important;
  height: 20px !important;
  fill: #fff;
}
.MuiSnackbar-root button {
  display: none;
}

.footer-search-link {
  color: #ffffff66;
  width: 120px;
  height: 40px;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0 auto 20px;
}

.MuiPopper-root {
  position: absolute;
  z-index: 10000000;
  /* width: 200px; */
  /* height: 240px; */
  top: 0px;
}

.content-container ~ .MuiPopper-root {
  position: absolute;
  width: 400px;
  height: 160px;
}

.content-container ~ .MuiPopper-root .MuiTooltip-tooltip {
  position: absolute;
  left: 50%;
}

.MuiTooltip-tooltip {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--youtube-secondary);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000000;
  background: #dfefef22;
  backdrop-filter: blur(10px);
}

/** Main Song List *******************************/

.song-list-container {
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  padding-top: 30px;
  width: 100%;
  justify-content: center;
  padding-bottom: 100px;
  @media screen and (max-width: 400px) {
    justify-content: flex-start;
  }
  /* @media screen and (min-width: 1920px) {
    width: 1880px;
  } */
  /* @media screen and (min-width: 1640px) {
    width: 1600px;
  }
  @media screen and (min-width: 1440px) {
    width: 1360px;
  } */
}

.song-card-wrapper {
  display: flex;
  width: 400px;
  height: 200px;
  box-sizing: border-box;
  opacity: 0.5;
  transition: all 0.5s;
  filter: saturate(30%);
  @media screen and (max-width: 400px) {
    width: calc(100% - 45% - 40px);
    height: 120px;
  }
}

.song-card-wrapper:hover {
  opacity: 1;
  filter: saturate(100%);
}

.song-card-cover-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  @media screen and (max-width: 400px) {
    width: 45%;
    height: 120px;
  }
}

.song-card {
  width: 200px;
  font-family: Pretendard;
  height: 200px;
  padding: 12px;
  box-sizing: border-box;
  @media screen and (max-width: 400px) {
    width: calc(100% - 45% - 40px);
    height: 120px;
  }
}

.index-title {
  padding-top: 60px;
  font-weight: 800;
  font-family: Pretendard;
  font-size: 24px;
  opacity: 0.8;
}
