@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-Black.subset.woff2")
    format("woff2");
  font-weight: 900;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-ExtraBold.subset.woff2")
    format("woff2");
  font-weight: 800;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-Bold.subset.woff2")
    format("woff2");
  font-weight: 700;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-SemiBold.subset.woff2")
    format("woff2");
  font-weight: 600;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-Medium.subset.woff2")
    format("woff2");
  font-weight: 500;
  font-display: block;
  font-style: normal;
}
@font-face {
  font-family: Pretendard;
  src: url("https://beonanotherplanet-public.s3.ap-northeast-2.amazonaws.com/fonts/Pretendard-Regular.subset.woff2")
    format("woff2");
  font-weight: 400;
  font-display: block;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #1de1d1f;
  }
  .dark {
    --text-primary: #ffffff;
  }
}

html,
body {
  background: #1f1f1d;
  font-size: 16px;
}

.content-container {
  width: 100%;
  display: block;
  position: relative;
  min-height: 100svh;
  background: #1d1d1f;
  /* display: flex;
  flex-direction: column; */
  /* background: radial-gradient(ellipse at top, #a80f00, transparent),
    radial-gradient(ellipse at bottom, #fde970, transparent); */
  padding: 40px;
  box-sizing: border-box;
}

.content-box {
  position: relative;
  @media screen and (min-width: 768px) {
    width: 480px;
    margin: 0 auto;
  }
}

.cover-box {
  width: 100%;
  position: relative;
  @media screen and (min-width: 768px) {
    width: 480px;
    margin: 0 auto;
  }
}

.cover {
  position: absolute;
  box-shadow: 0px 10px 20px #1d1d1fee;
  width: 180px;
  height: 180px;
}

.cover-bg {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 360px;
  background: linear-gradient(to bottom, #a80f00, #1f1f1d);
  /* background-image: url(/cover.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom; */

  @media screen and (max-width: 340px) {
    background-position: center;
  }
}

.header-container {
  height: fit-content;
  margin: 0 auto;
  position: absolute;
  top: 120px;
  right: 0px;
  box-sizing: border-box;

  display: flex;

  @media screen and (max-width: 340px) {
    display: block;
  }
}

h1 {
  font-family: Pretendard;
  font-weight: 900;
  font-size: 3rem;
  color: #ffffff;
  /* color: #1f1f1d; */
  line-height: 1;
}

p {
  color: #ffffff;
  margin: 4px 0;
  font-weight: 600;
  font-size: 1.1rem;
  /* color: #1f1f1d; */
  text-align: right;
}

.link-container {
  display: flex;
  margin-top: 380px;
  /* position: absolute;
  top: 440px;
  left: 50%;
  transform: translateY(-50%); */
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

a {
  display: block;
  width: 100%;
}

img.profile {
  width: 72px;
  height: 72px;
  border-radius: 36px;
  object-fit: cover;
  box-shadow: 2px 2px 8px #1d1d1f;
  margin-bottom: 12px;
}

button {
  /* min-width: 240px; */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  font-weight: 600;
  width: 100%;
  height: 48px;
  padding: 12px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #ffffff33; */
  border-radius: 12px;
  transition: all 300ms;
  /* border: 1px solid #ffffffaa; */
  box-shadow: 2px 2px 8px #00000055;
}

button:hover {
  background: #fff;
  color: #1d1d1f;
}

button.apple {
  background: #f9243b;
  color: #fff;
}

button.youtube:hover {
  background: #fff;
  color: #ff0032;
}
button.youtube-music {
  background: #000;
  color: #ff0032;
}

button.spotify {
  background: #1cb955;
  color: #fff;
}

button.melon {
  background: #04cd3b;
  color: #fff;
}

button.bugs {
  background: #ff3b28;
  color: #fff;
}

button.apple:hover {
  color: #f9243b;
  background: #fff;
}

button.youtube {
  background: #ff0032;
  color: #000;
}
button.youtube-music:hover {
  color: #fff;
  background: #ff0032;
}

button.spotify:hover {
  color: #1cb955;
  background: #fff;
}

button.melon:hover {
  color: #04cd3b;
  background: #fff;
}

button.bugs:hover {
  color: #ff3b28;
  background: #fff;
}

button.naver {
  background: #4900b0;
  color: #fff;
}

button.naver:hover {
  background: #fff;
  color: #4900b0;
}

footer {
  padding: 8px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0px;
  font-size: 0.75rem;
  color: #ffffff22;
  text-align: center;
}

footer a {
  display: inline;
  text-decoration: underline;
}

.description {
  font-size: 0.8rem;
  color: #ffffffaa;
  font-weight: 200;
  margin: 8px 0;
}

.link-box {
}

/** Index ******************************/

.index-container {
  background: #1d1d1f;
  width: 100%;
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.under-construction {
  width: 500px;

  @media screen and (max-width: 340px) {
    width: 140px;
  }
}

.index-container h1 {
  @media screen and (max-width: 340px) {
    font-size: 32px;
  }
}

.index-container p {
  @media screen and (max-width: 340px) {
    font-size: 14px;
    font-weight: 300;
  }
}

/** Search Container *******************************/
